
.create-note-container {
  width: 100%;
  margin-top: 10rem;
  padding: 0 10%;
}

.create-note-title-p, .create-note-title-input {
  font-family: "ubuntu";
  font-size: 2rem;
}

.create-note-title-input {
  background: white !important;
  color: black !important;
}

/* */

.note-editor-container {
  background: #eee;
  min-height: 15rem;
  padding: 1rem;
}

/*
.public-DraftStyleDefault-block {
  background: #eee;
  padding: 1rem;
  min-height: 50vh;
}
*/
